:root{
    --width:0.25rem;
    --gap: 0.5rem
}
.test-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.container{
    display: flex;
    gap: var(--gap);
}
.box{
    width:var(--width);
    background-color:darkcyan;
    border: 1px solid black;
    border-radius: 0.25rem;
    color:white;
}
.compare{
    background-color: yellow;
    color: black;
}
.found{
    background-color: aquamarine;
}
.move-left {
    animation: move-left-animation forwards 200ms ease-in-out;
}
.move-right {
    animation: move-right-animation forwards 200ms ease-in-out;
}

@keyframes move-left-animation{
    100%{
        transform: translateX(calc(var(--width) + var(--gap)));
    }
}

@keyframes move-right-animation{
    100%{
        transform: translate(calc(-1 * calc(var(--width) + var(--gap))));
    }
}


